.musicCard-wrapper {
    min-width: 275px;
    height: 145px;
    border-radius: 7px;
    box-shadow: inset 0 3px 9px rgba(45, 45, 45, 0.98), 0 0 7px 3px rgba(40, 40, 40, 0.98);
    display: flex;
    flex-flow: column;
    align-content: baseline;
    font-family: 'Lato', sans-serif;
    align-items: center;
    margin: 10px 0 5px 15px;
}

.musicCard-wrapper:hover {
    box-shadow: inset 0 2px 9px rgba(55, 55, 55, 0.90), 0 0 9px 4px rgba(33, 33, 33, 0.98);
    cursor: pointer;
}

.selected {
    box-shadow: 0 0 10px 2px #800000;
}

.song-title {
    margin-top: 15px;
    margin-bottom: 5px ;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f2f2f2;
    text-shadow: #ff0000 0px 0px 15px, #cc0066 5px 0px 5px, #cc0066 -5px 0px 5px, #cc0066 0px 3px 5px, #cc0066 0px -3px 5px, #cc0066 10px 0px 10px, #cc0066 -10px 0px 10px, #cc0066 0px 10px 10px, #cc0066 0px -10px 10px, #cc0066 0px 0px 20px, #cc0066 0px 0px 30px, #000 0px 0px 50px;
}

.song-author {
    margin-top: 0;
    text-align: center;
    font-size: 1rem;
    color: #f2f2f2;
    text-shadow: #ff0000 0px 0px 15px, #cc0066 5px 0px 5px, #cc0066 -5px 0px 5px, #cc0066 0px 3px 5px, #cc0066 0px -3px 5px, #000 10px 0px 10px, #000 -10px 0px 10px, #000 0px 10px 10px, #000 0px -10px 10px, #000 0px 0px 20px, #000 0px 0px 30px;
}

.song-duration {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1rem;
    color: #f2f2f2;
    text-shadow: #ff0000 0px 0px 15px, #cc0066 5px 0px 5px, #cc0066 -5px 0px 5px, #cc0066 0px 3px 5px, #cc0066 0px -3px 5px, #000 10px 0px 10px, #000 -10px 0px 10px, #000 0px 10px 10px, #000 0px -10px 10px, #000 0px 0px 20px, #000 0px 0px 30px;
}

.song-buttons {
    width: 150px;
    height: 25px;
    background: indigo;
    border-radius: 5px;
}
